body {
    font-family: 'Poppins', sans-serif !important;
}

main {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero {
    background: linear-gradient(rgba(9, 18, 54, 0.8), rgba(9, 18, 54, 0.8)), url("../assets/banner/pcbanner.jpg") no-repeat center center;

    background-size: cover;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-content {
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.productos,
.carrito {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
}

.productos {
    min-height: 400px;
}

.carrito {
    min-height: 400px;
    background-color: #edebf5;
    margin-top: 20px;
}

.card {
    box-shadow: 4px 8px 18px rgba(0, 0, 0, 0.1);
    border-color: #edebf59d;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-description {
    flex: 1;
}

.card-details {
    margin-top: auto;
}

.btn {
    margin-top: auto;
}

.btnAgregar {
    background-color: rgba(14, 33, 110, 0.8);
    border: none;
    color: white;
}

.btnAgregar:hover {
    background-color: rgba(14, 33, 110, 1);
    color: white;
}